$accent-color2: #2979ff;
$accent-color: #8e24aa; //purple[600] darkviolet rgb(142,36,170)
$main-color: rgb(250, 250, 250);
$border-color: rgb(240, 240, 240);
// $text-grey: rgb(220, 220, 220);
$secondary-color: #f3f3f3;
$navbar-mobile-height: 56px;
$navbar-desktop-height: 80px;
$text-grey: #505050;
$text-grey-light: #979797;
$success: #22bb33;
// $info-message-color: #ddd;
// $info-bg-message-color: rgba();
